body {
  margin: 2rem;
}

h1 { margin: 1rem     0; }
h2 { margin: 0.75rem  0; }
h3 { margin: 0.5rem   0; }
h4 { margin: 0.25rem  0; }
h5 { margin: 0.125rem 0; }

.bordered-children * {
  border: 1px solid black;
}

.content-grid-two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grouping-section {
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding-left: .5rem;
  border-left: 2px solid rgb(5, 5, 175);
}
